<br>
<div class="container">
  <div class="tile is-ancestor">
    <% @terms.each do |term| %>
    <% if term.id.odd? == true %>
    <div class="tile is-6">
      <h1><%= term.name %></h1>
      <hr>
      <h3><%= term.blurb %></h3>
    </div>
    <% else %>
    <div class="tile is-6">
      <h1><%= term.name %></h1>
      <hr>
      <h3><%= term.blurb %></h3>
    </div>
    <br>
    <% end %>
    <% end %>
  </div>
</div>



  <div>
    <%= render "/sidebar" %>
  </div>
