<% if current_user %>
  <%= render "/crux_navbar" %>
<% end %>
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container" id="hero_container">
      <h1 class="title" id="hero_title">
        J&#8194;o&#8194;h&#8194;n&#8194; &#8194;R&#8194;y&#8194;k&#8194;k&#8194;e&#8194;n
      </h1>
      <h2 class="subtitle" id="hero_subtitle">
        Web Developer | Writer | Cinephile
      </h2>
    </div>
  </div>
</section>
<%= render "/synopsis_section" %>
<%= render "/skills_section" %>
<%= render "/crux_section" %>
<%= render "/code_and_writing_section" %>
<%= render "/footer" %>
