<!DOCTYPE html>
<html>
  <head>
    <title>JohnRykken</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <!-- nav brand is the logo, it's always on the left  -->
      <div class="navbar-brand">
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/93993-200.png" class="navbar-item" id="crow">
      </div>
      <!-- nav menu fills all nav space after the brand -->
      <div class="navbar-menu">
        <!-- nav start places elements on the left -->
        <div class="navbar-start">
          <div class="navbar-item">
            <h1>HOME</h1>
          </div>
          <div class="navbar-item">
            <h1>ABOUT</h1>
          </div>
        </div>
        <!-- nav end places elements on the right -->
        <div class="navbar-end">
          <div class="navbar-item">
            <h1>PLAIN ENGLISH</h1>
          </div>
          <div class="navbar-item">
            <h1>CODE</h1>
          </div>
          <div class="navbar-item">
            <h1>PORTFOLIO</h1>
          </div>
        </div>
      </div>
    </nav>

    <br>

    <%= yield %>
  </body>
</html>
