<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">

    <title>JohnRykken</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <!-- nav brand is the logo, it's always on the left  -->
      <div class="navbar-brand">
         <nav class="level">
           <%= link_to image_tag("/assets/logo-crux"), root_path, id: "johnrykken" %>
         </nav>
      </div>

      <!-- nav-menu fills all nav space after nav-brand -->
      <div class="navbar-menu">
        <!-- nav-start places elements on the left -->
        <div class="navbar-start">
          <!-- intentionally blank -->
        </div>

        <!-- nav-end places elements on the right -->
        <div class="navbar-end">
          <!-- nav drop menu -->
          <div class="navbar-item">
            <div class="dropdown is-hoverable is-right">
              <!-- button -->
              <div class="dropdown-trigger">
                <button class="button" id="hamburger"><img src="/assets/hamburger.png"></button>
              </div>
              <!-- menu items -->
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <p class="dropdown-item"><%= link_to '"CRUX"', terms_path %></p>
                  <p class="dropdown-item">CODE</p>
                  <p class="dropdown-item">PORTFOLIO</p>
                  <p class="dropdown-item">WRITING</p>
                  <p class="dropdown-item">ABOUT</p>
                  <p class="dropdown-item">HOME</p>
                </div>
              </div>
            </div><!-- dropdown is-active -->
          </div>
        </div><!-- navbar-end -->
      </div>
    </nav>

    <%= yield %>

    <% if current_user %>
      <footer>
        <small><%= current_user.username %></small> |
        <small><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></small>
      </footer>
    <% end %>

  </body>
</html>
