<!DOCTYPE html>
<html>
  <head>
    <title>JohnRykken</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <!-- nav brand is the logo, it's always on the left  -->
      <div class="navbar-brand">
        <img src="/assets/skull.png" id="logo">
      </div>

      <!-- nav-menu fills all nav space after nav-brand -->
      <div class="navbar-menu">
        <!-- nav-start places elements on the left -->
        <div class="navbar-start">
          <div class="navbar-item">
            <p id="johnrykken"><%= link_to "johnrykken.com", root_path %></p>
          </div>
        </div>

        <!-- nav-end places elements on the right -->
        <div class="navbar-end">
          <!-- nav drop menu -->
          <div class="navbar-item">
            <div class="dropdown is-hoverable is-right">
              <!-- button -->
              <div class="dropdown-trigger">
                <button class="button" id="hamburger"><img src="/assets/hamburger.png"></button>
              </div>
              <!-- menu items -->
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <p class="dropdown-item"><%= link_to '"PLAIN ENGLISH"', terms_path %></p>
                  <p class="dropdown-item">CODE</p>
                  <p class="dropdown-item">PORTFOLIO</p>
                </div>
              </div>
            </div><!-- dropdown is-active -->
          </div>
        </div><!-- navbar-end -->
      </div>
    </nav>

    <%= yield %>

    <% if current_user %>
      <footer>
        <small><%= current_user.username %></small> |
        <small><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></small>
      </footer>
    <% end %>

  </body>
</html>
