<!DOCTYPE html>
<html>
  <head>
    <title>JohnRykken</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar" role="navigation">
      <!-- navbrand is always visible, i.e. it's a brand icon -->
      <div class="navbar-brand">
        <h1>John Rykken</h1>
      </div>
      <!-- allows navbar brand its space, fills up rest of navbar -->
      <div class="navbar-menu">
        <!-- child of nav menu, this appears on left -->
        <div class="navbar-start">
          <span class="navbar-item">HOME</span>
          <span class="navbar-item">ABOUT</span>
          <span class="navbar-item">CODE!</span>
          <span class="navbar-item">PORTFOLIO</span>
          <span class="navbar-item">WRITING</span>
        </div>
        <!-- child of nav menu, this appears on right -->
        <div class="navbar-end">
          <span class="navbar-item">PLAIN ENGLISH</span>
        </div>
      </div>
    <div>
    <%= yield %>
  </body>
</html>
